@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

#custom-card:first-child {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
    color: #fff !important;
    background-image: linear-gradient(to bottom, #05b614d8, #05b615),
        url("../images/bg-card.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* #custom-card:nth-child(2) {
    background-color: red;
} */

#custom-card {
    height: 180px;
    border-radius: 16px;
}

#custom-card #card-icon {
    stroke: #fff;
    fill: transparent;
    height: 2rem;
    width: 2rem;
}

.dots {
    background-color: #05b615 !important;
    color: #fff;
}
.dots-reverse {
    background-color: #ffb81c !important;
    color: #fff;
}

.register-btn {
    background-color: #05b615;
    padding: 0.6em 2em;
    color: #fff;
    transition: all 0.2s ease;
}

.register-btn:hover,
.register-btn:focus,
.register-btn:active {
    outline: none;
    background-color: #0ba718;
    color: #000;
}

.custom-radio .custom-control-label::before {
    border: 2px solid #05b615;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-color: #05b615;
    border-radius: 50%;
    outline: none;
    height: 20px;
    width: 20px;
}

.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #05b615;
    border-radius: 50%;
    outline: none;
    border-color: #05b615;
}

.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #05b615, 0 0 0 0.2rem #05b61467;
}
