@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "Futura Std";
    src: url("../fonts/futura/FuturaStd-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Futura Std";
    src: url("../fonts/futura/FuturaStd-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Futura Std";
    src: url("../fonts/futura/FuturaStd-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Futura Std";
    src: url("../fonts/futura/FuturaStd-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  

  #custom-card {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
    color: #fff !important;
    background-image: linear-gradient(to bottom, #05b614d8, #05b615),
        url("../images/bg-card.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    transition: all 0.2s ease;
    transform: translateY(0);
    position: relative;
}

#custom-card::before {
    content: "";
    transition: all .3s ease;
    position: absolute;
    top: 12px;
    right: 12px;
    left: 12px;
    bottom: 12px;
    border-radius: 16px;
    border: 1px solid #fff;
    
}


#custom-card:hover {
cursor: pointer;
 box-shadow: 0 10px 12px -7px rgba(0, 0, 0, 0.4);
 
}



.card-2 {
    background-image: linear-gradient(to bottom, #05b614d8, #05b615),
        url("../images/bg-card-2.jpg") !important;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
    color: #fff !important;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.card-3 {
    background-image: linear-gradient(to bottom, #05b614d8, #05b615),
        url("../images/bg-card-3.jpg") !important;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.4);
    color: #fff !important;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  
}


.card-3:hover {
    cursor: not-allowed !important;
}

#custom-card {
    height: 220px;
    border-radius: 16px;
}

#custom-card #card-icon {
    fill: #fff;

    height: 2rem;
    width: 2rem;
}

.dots {
    background-color: #05b615 !important;
    color: #fff;
}
.dots-reverse {
    background-color: #ffb81c !important;
    color: #fff;
}

.register-btn,
.top-btn {
    padding: 0.6em 2em;
    color: #fff;
    transition: all 0.2s ease;
}

.register-btn {
    background-color: #05b615;
}

.register-btn,
.top-btn:hover,
.register-btn,
.top-btn:focus,
.register-btn,
.top-btn:active {
    outline: none;
    background-color: #0ba718;
    color: #000;
    border: none;
}

.svg__icon svg {
    height: 20px;
    width: 20px;
    fill: #6b7280;
}

a,
a:hover,
a:focus,
a:active {
    border: none;
    outline: none;
    text-decoration: none;
}

.add-user {
    border-radius: 25px;
}

.registered {
    padding: 100px 0;
    text-align: center;
}

.registered__title {
    font-size: 42px;
    line-height: 52px;
    font-weight: 700;
}

.registered h4 {
    margin-top: 35px;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
}

.registered span {
    height: 80px;
    width: 80px;
    line-height: 80px;
    display: inline-block;
    background-color: #05b615;
    text-align: center;
    border-radius: 50%;
    margin-bottom: 30px;
}

.registered svg {
    height: 65px;
    width: 65px;
    fill: #fff;
    margin-left: 0.45em;
    margin-top: 0.45em;
}

#autosuggest__input {
    border: 2px solid #05b615 !important;
}




/* The overlay effect with black background */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(
        0,
        0,
        0,
        0.9
    ); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

/* Close button */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

/* Style the search field */
.overlay input[type="text"] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type="text"]:hover,
.overlay input[type="text"]:active,
.overlay input[type="text"]:focus {
    background: #f1f1f1;
    outline: none;
    border: unset;
}

/* Style the submit button */
.overlay button {
    float: left;
    /* width: 20%; */
    padding: 19px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}

.svg__search svg {
    transition: all 0.2s ease;
}

.svg__search svg:hover,
.svg__search svg:active,
.svg__search svg:focus {
    fill: #05b615;
    cursor: pointer;
}




.iconfont {
    font-family: "btfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
  }